#Header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 1vh 3vw;
    background-color: rgba(10, 10, 10, 0.6);
    border-bottom: #000 1px solid;
    backdrop-filter: blur(10px);
    z-index: 100;
}

#Logo-Area {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#Logo-Area img {
    width: 8vh;
    height: 8vh;
}

#Logo-Area h1 {
    font-size: 1.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -3px;
}

#Top-Menu {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    gap: 2vw;
    padding: 0 0 0 4vw;
}

#Top-Menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 2vw;
}

#Top-Menu ul li {
    font-size: 1.35rem;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    text-align: center;
}

#Top-Menu ul li:hover {
    color: yellow;
    transition: all 400ms;
}

#Top-Search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    gap: .5vw;
    border-radius: 20px;
    width: 25vw;
    height: 5vh;
    background-color: #333;
    padding: 0 .5vw;
    border: 1px solid transparent;
}

#Top-Search input {
    background-color: transparent;
    height: 5vh;
    width: 85%;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.25rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#Top-Search hr {
    width: 1px;
    height: 3vh;
    background-color: #777;
    border: none;
}

#Top-Search #label-s-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Top-Search #search-icon {
    color: #777;
    width: 22px;
    height: auto;
}

#Top-Search:focus-within {
    border: 1px solid yellow;
}

#Top-Search input:focus::placeholder {
    color: transparent;
}

#Top-Search input:focus+hr {
    background-color: yellow;
}

#Top-Search input:focus+hr+#label-s-icon #search-icon {
    color: yellow;
}

#Top-Menu #profile-dropdown {
    display: none;
    border-radius: 50%;
    width: 45px;
    height: auto;
    cursor: pointer;
}

#Top-Menu #profile-d-icon {
    display: flex;
    width: 45px;
    height: auto;
}

#Mobile-Notifi {
    border: 1px solid #fff;
    cursor: pointer;
}

#Bottom-Menu {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    padding: 1vh .5vw;
    background-color: rgba(18, 16, 16, 0.6);
    border-top: #000 1px solid;
    backdrop-filter: blur(10px);
    z-index: 100;
}

#Bottom-Menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

#Bottom-Menu ul li {
    font-size: 1.2rem;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    text-align: center;
}

#Bottom-Menu ul li:first-child {
    color: yellow;
}

@media (min-width: 1024px) {
    #Bottom-Menu {
        display: none;
    }

    #Mobile-Notifi {
        display: none;
    }

    #Top-Menu {
        display: flex;
    }
    #Top-Menu #profile-dropdown {
        display: flex;
    }
}