#Header{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 1vh 3vw;
    background-color: rgba(10, 10, 10, 0.6);
    border-bottom: #000 1px solid;
    backdrop-filter: blur(10px);
}
#Logo-Area{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#Logo-Area img{
    width: 8vh;
    height: 8vh;
}
#Logo-Area h1{
    font-size: 1.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -3px;
}
#Top-Menu{
    display: none;
}
#Mobile-Notifi{
    border: 1px solid #fff;
    cursor: pointer;
}
#Bottom-Menu{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    padding: 1vh .5vw;
    background-color: rgba(18, 16, 16, 0.6);
    border-top: #000 1px solid;
    backdrop-filter: blur(10px);
}
#Bottom-Menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
#Bottom-Menu ul li{
    font-size: 1.2rem;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    text-align: center;
}
#Bottom-Menu ul li:first-child{
    color: yellow;
}

@media (min-width: 1024px) {
    #Bottom-Menu{
        display: none;
    }
}